<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="practice-mode" href="/tabs/practice-mode">
      <ion-icon aria-hidden="true" name="play"></ion-icon>
      <ion-label>Practice</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="best-signaller" href="/tabs/best-signaller">
      <ion-icon aria-hidden="true" name="trophy"></ion-icon>
      <ion-label>Compete</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="leaderboard" href="/tabs/leaderboard">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Leaderboard</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
